@using Company.DAL.Models
@using Company.PL.Dtos
@model UserToReturn
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />

<div>
    <partial name="EmployeePartialView/DeleteDetailsPartialView" />

    <div class="my-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>

